/******** BACKGROUND ********/
.job-wrapper {
    width: 100%;
    background: #d6e2f5;
    padding: 55px 0;
}

/******** CONTAINER ********/
.job-inner {
    max-width: 1300px;
    margin: auto;
    padding: 0 22px;
    position: relative;
}

/******** HEADER ********/
.job-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.job-title {
    font-size: 36px;
    font-weight: 800;
    color: #0b2d61;
}

.job-view-all {
    font-size: 16px;
    font-weight: 700;
    color: #0B6FFB;
    text-decoration: none;
    transition: 0.3s ease;
}

.job-view-all:hover {
    transform: translateX(4px);
}

/******** FILTER BUTTONS ********/
.job-filters {
    display: flex;
    gap: 14px;
    flex-wrap: wrap;
    margin: 25px 0 35px;

    position: relative;
    z-index: 20; /* prevent overlap on cards */
}

.job-filter-btn {
    padding: 8px 18px;
    border-radius: 40px;
    background: white;
    border: 1px solid #c9c9c9;
    cursor: pointer;
    font-weight: 600;
    transition: 0.25s ease;
}

.job-filter-btn:hover {
    transform: translateY(-2px);
}

.active-filter {
    background: #0B6FFB;
    color: white;
    border-color: #0B6FFB;
}

/******** SC
